#main{
		width: 50%;
  
}
#imag {
	margin: 10px;
	display: flex;
	flex-direction: row;	
	
}
#heading{
	margin-left: 20px;
	
}
#skills{
	margin: 10px;
	padding: 10px;


}
#alsi{
	display: flex;
	flex-direction: row;		 
	border: 1px solid black;
	width: 100%;
	box-shadow: 2px;
	 
}










